.icr-hidden {
	position: absolute;
	display: block;
	top: 0; left: 0;
	width: 0; height: 0;
	overflow: hidden;
}

.icr-input {
	position: absolute;
	display: block;
	top: -20px; left: -20px;
}

.icr-text {
	cursor: pointer;
	display: inline;
	vertical-align: middle;
}

.icr-item {
	width: 19px;
	height: 19px;
	cursor: pointer;
	margin-right: 10px;
	position: relative;
	display: inline-block;
	vertical-align: middle;

	&.type_radio {
		border: 1px solid $color-blue;
		@include border-radius(50%);

		&:before {
			top: 3px;
			left: 3px;
			width: 11px;
			height: 11px;
			content: ' ';
			display: none;
			position: absolute;
			background: $color-blue;
			@include border-radius(50%);
		}
	}
}

.icr-label {
	cursor: pointer;
	position: relative;

	&.checked {

		.icr-item {

			&.type_radio {

				&:before {
					display: block;
				}
			}
		}
	}
}


.btn-group {

	label {
		margin: 0 8px;
	}
}

.popup {
	width: 240px;
	padding: 20px;
	text-align: center;

	.popup__title {
		color: $color-blue;
		font-size: 16px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	.btn {
		width: 100%;
	}

	.form-control {
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {

		width: 360px;
		padding: 30px;
		text-align: center;
	}
}

.form-control {

	&:focus {
		border-color: $color-blue;
		@include box-shadow(none);

		@include placeholder(transparent);
	}
}

.select-main {
	display: block;
	width: 100%;
	margin-bottom: 20px;

	.select-main-link {
		width: 100%;
		height: 62px;
		color: $color-gray;
		font-size: 16px;
		cursor: pointer;
		white-space: nowrap;
		text-transform: uppercase;
		border: 1px solid #b6c8d8;
		display: inline-block;
		padding: 19px 48px 19px 20px;
		background: #fff url("../img/select_arrow.png") 100% 50% no-repeat;

		&:hover {
			color: $color-blue;
			border-color: $color-blue;
		}
	}

	.ik_select_link_text {
		overflow: hidden;
	}
}


.select-style-blue {

	.select-main {

		.select-main-link {
			color: $color-blue;
		}
	}
}


.ik_select_dropdown {

	.ik_select_list_inner {

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid #b6c8d8;

			li {
				color: #7f92a3;
				font-size: 14px;
				line-height: 20px;
				cursor: pointer;
				padding: 12px 20px;
				background: #fff;
				text-transform: uppercase;

				&:hover {
					color: $color-blue;
					background: #fff;
				}
			}
		}
	}
}

.popup__close {
	width: 36px;
	height: 36px;
	top: -18px;
	right: -18px;
	color: #0d80e6;
	line-height: 30px;
	position: absolute;
	text-align: center;
	background: #fff;
	border: 3px solid $color-blue;
	@include border-radius(50%);
}


// number

.number {
	padding-left: 6px;

	input {
		width: 20px;
		border: none;
		outline: none;
		background: #fff;
		text-align: center;

	}

	span {
		cursor: pointer;
	}

	.plus,
	.minus {

		&:hover {
			color: $color-blue;
		}
	}
}