$color-gray     :   #738494;
$color-blue     :   #0c80e5;
$color-light    :   #b7c8d8;
$color-red      :   #ff415d;

@import "fonts";
@import "font-awesome/font-awesome";
@import "bootstrap";
@import "../js/vendor/slick/slick";


@import "form";

@import "header";
@import "footer";
@import "reply";
@import "showcase";
@import "advantage";





/* Base styles
   ========================= */

.container {
    @include clearfix();
}

// Pagination

.pagination {
    margin: 0;
    padding-bottom: 20px;

    > li {


        > a {
            color: #b7c8d8;
            font-size: 16px;
            background-color: transparent !important;
            border-color: transparent !important;

            &:hover {
                color: #0c80e5;
                text-decoration: underline;
                border-color: transparent;
                background-color: transparent;
            }
        }

        &.active > a,
        &.active > span {
            color: $color-blue;
        }

        &.prev a,
        &.next a,
        &:first-child a,
        &:last-child a {
            color: #b7c8d8;

            &:hover {
                color: #0c80e5;
            }
        }
    }
}

.content {
    margin-bottom: 50px;
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1{
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 15px;
}

p {
    padding: 0;
    margin: 0 0 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text-red {
    color: #ff415d;
}


.btn-default {

    &:hover,
    &:focus,
    &.focus {
        color: #fff !important;
        border-color: $color-blue !important;
        background: $color-blue !important;
    }

}

.btn-primary {

    &:hover,
    &:focus,
    &.focus {
        color: #0d80e6 !important;
        border-color: #0d80e6 !important;
        background: #fff;

        &.btn-icon {

            .icon-bar {
                background: #0d80e6;
            }
        }
    }

    &.active,
    &:active {
        background: #fff;
        @include box-shadow(none !important);

        &:hover,
        &:focus,
        &.focus {
            background: #fff;
        }

        &.btn-icon {

            .icon-bar {
                background: #0d80e6;
            }
        }
    }


    &.btn-icon {
        padding: 15px 5px;
        font-size: 28px;
        line-height: 28px;
        text-align: center;

        .icon-bar {
            display: block;
            width: 26px;
            height: 6px;
            background: #7f92a3;
            margin: 0 auto 4px auto;
        }
    }
}


.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #0d80e6;
    background: #fff;
    border-color: #0d80e6 !important;
}


