

@import "fonts";
@import "font-awesome/font-awesome";
@import "bootstrap";
@import "../js/vendor/slick/slick";


@import "form";

@import "header";
@import "footer";
@import "reply";
@import "showcase";
@import "advantage";





/* Base styles
   ========================= */

.container {
    @include clearfix();
}

// Pagination

.pagination {
    margin: 0;
    padding-bottom: 20px;

    > li {

        > a {
            color: #97acbf;
            font-size: 16px;
            background-color: transparent !important;
            border-color: transparent !important;

            &:hover {
                border-color: transparent;
                background-color: transparent;
            }
        }

        &.prev a,
        &.next a,
        &:first-child a,
        &:last-child a {
            color: #0d80e6;
        }
    }

    .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            z-index: 2;
            color: #0d80e6;
            background-color: transparent !important;
            border-color: transparent !important;
            cursor: default;
        }
    }
}

.content {
    margin-bottom: 50px;
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1{
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 15px;
}

p {
    padding: 0;
    margin: 0 0 10px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.btn-default {

    &:hover,
    &:focus,
    &.focus {
        color: #fff !important;
        border-color: #0d80e6 !important;
        background: #0d80e6 !important;
    }

}

.btn-primary {

    &:hover,
    &:focus,
    &.focus {
        color: #fff !important;
        border-color: #0d80e6 !important;
        background: #0d80e6 !important;
    }

    &.active,
    &:active {
        @include box-shadow(none !important);
    }


    &.btn-icon {
        padding: 13px 5px;
        font-size: 24px;
    }
}


.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #0d80e6;
    background: #fff;
    border-color: #0d80e6 !important;
}


